
    
    
    <div class="mx-auto pb-4 mt-3 large-size">
        <% if (locals.shows_info) { %>
            <% count = 0 %>
            <% for (var i=0;i<30;i++) { %>
                <% if (count === 0) { %>
                    <div class="justify-content-center responsive">
                <% }%>
                <div class="card card-index mt-3">
                    <div class="card-footer mb-2">
                        RATING  
                    </div>
                    <a href="../shows/<%= shows_info[i].id %>"><img class="card-img-top" alt="<%shows_info[i].name %>" src="<%-shows_info[i].image%>"></a>
                        <div class="card-body p-1">
                            <a href="../shows/<%= shows_info[i].id %>"><h5 class="text-dark mt-1 small-title"><%= shows_info[i].name %> </h5></a>
                            <% if (shows_info[i].genre.length > 0) { %>
                                <h6 class="mt-2 mb-0 font-weight-bold medium-font">Genre</h6>
                                <h6 class="font-weight-normal"><%= shows_info[i].genre %></h6>
                            <% } %>
                            <h6 class="mt-1 mb-0 medium-font font-weight-bold">Release Year</h6>
                            <h6 class="font-weight-normal mt-0"><%= shows_info[i].date.split("-")[0] %></h6>
                        </div>
                       
                </div>
                    
                <% count++ %>
                <% if (count === 5) { %>
                    <% count = 0; %>
                    </div>
                <% } %>
                       
              
            <% }%> <!-- end of for shows_info -->
              
        <% } %> <!-- end of if shows_info -->
    </div>
              
        
        
        
        
            
    
    <div class="mx-auto pb-4 medium-size">
        <% if (locals.shows_info) { %>
            <% count = 0 %>
            <% for (var i=0;i<30;i++) { %>
                <% if (count === 0) { %>
                    <div class="justify-content-center responsive">
                <% }%>
                <div class="card card-index">
                    <div class="card-footer">
                        RATING  
                    </div>
                    <a href="../shows/<%= shows_info[i].id %>"><img class="card-img-top" alt="<%shows_info[i].name %>" src="<%-shows_info[i].image%>"></a>
                        <div class="card-body p-1">
                            <a href="../shows/<%= shows_info[i].id %>"><h5 class="text-dark mt-1 small-title"><%= shows_info[i].name %> </h5></a>
                            <% if (shows_info[i].genre.length > 0) { %>
                                <h6 class="mt-2 mb-0 font-weight-bold medium-font">Genre</h6>
                                <h6 class="font-weight-normal"><%= shows_info[i].genre %></h6>
                            <% } %>
                            <h6 class="mt-1 mb-0 medium-font font-weight-bold">Release Year</h6>
                            <h6 class="font-weight-normal mt-0"><%= shows_info[i].date.split("-")[0] %></h6>
                        </div>
                        
                    </div>
                        
                    <% count++ %>
                    <% if (count === 3) { %>
                        <% count = 0; %>
                        </div>
                    <% } %>
                           
                  
                <% }%> 
        <% } %>
        
            
    </div>
        
        
       


