<div class="mx-auto pb-4 large-size">
<% if (locals.shows_info) { %>
    <% count = 0 %>
    <% for (var i=0;i<21;i++) { %>
        <% if (count ===0) { %>
            <div class="justify-content-center responsive">
        <% }%>
        
            <div class="show-div mt-3 d-flex">
                <a href="../shows/<%= shows_info[i].id %>"><img class="show-icon" src="<%-shows_info[i].image%>" /></a>
                <div class="w-100 info-div">
                    <div class="title-div p-2">
                        <a href="../shows/<%= shows_info[i].id %>"><h5 class="text-white m-0 small-title"><%= shows_info[i].name %> </h5></a>
                    </div>
                    <div class="text-break m-1 mr-1">
                    <h6 class="mt-2 mb-0 font-weight-bold medium-font">Genre -  <span class="font-weight-normal"><%= shows_info[i].genre %></span> </h6>
                   
                    <h6 class="mt-1 medium-font font-weight-bold">Release Year - <span class="font-weight-normal"><%= shows_info[i].date %> </span></h6>
      
                    </div>
                </div>
                <% count++ %>
               
            </div>
        <% if (count === 3) { %>
            <% count = 0; %>
        </div>
        <% }%>
    <% } %> 

<% } %>


    </div>


</div>
<div class="mx-auto pb-4 medium-size">
    <% if (locals.shows_info) { %>
      
        <% for (var i=0;i<21;i++) { %>
            <% if (i%2 === 0) { %>
                <div class="justify-content-center responsive">
            <% }%>
            
                <div class="show-div mt-3 d-flex">
                    <a href="../shows/<%= shows_info[i].id %>"><img class="show-icon" src="<%-shows_info[i].image%>"/></a>
                    <div class="w-100 info-div">
                        <div class="title-div p-2">
                            <a href="../shows/<%= shows_info[i].id %>"><h5 class="text-white m-0 small-title"><%= shows_info[i].name %> </h5></a>
                        </div>
                        <div class="text-break m-1 mr-1">
                        <h6 class="mt-2 mb-0 font-weight-bold medium-font">Genre -  <span class="font-weight-normal"><%= shows_info[i].genre %></span> </h6>
                       
                        <h6 class="mt-1 medium-font font-weight-bold">Release Year - <span class="font-weight-normal"><%= shows_info[i].date %> </span></h6>
          
                        </div>
                    </div>
                   
                </div>
            <% if (i%2 !== 0) { %>
               
            </div>
            <% }%>
        <% } %> 
    
    <% } %>
    
    
</div>
    
    
    </div>