<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
    <div class="main bg-light" id="main">
      <%- include('../partials/show_list') %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>