<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
    
    <div class="bg-light pt-3 pb-3 main " id="main">
       
        <div class="wrapper mx-auto">


          <img class="show-icon" src="<%- locals.show.image%>"/>
          <h1><%= locals.show.name %></h1>
          <h1><%= locals.show.genres %></h1>
          <h1><%= locals.show.year %></h1>
          
          <h4>Cast</h4>
          <% for (var i=0;(i<locals.show.cast.length) && (i<6) ;i++) { %>
            <h6><%= locals.show.cast[i] %></h6>
          <% } %>
          <%- locals.show.summary %>
        
    </div>
       </div>
    
    
    <%- include('../partials/footer') %>

  </body>
</html>